@media (min-width: 601px) {
    .page-wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .area-menu {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .area-contents {
        max-width: 750px;
    }
}
