:root {
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --maize-crayola: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;

    --burnt-purple: #302240;
    --pinky: #cd9bc1;
    --sea-foam-not: #076873;
    --sea-foam-closer: #85A696;
    --faded-mint: #93BF7E;
    --brackish-blackish: #262626;

    --bright-text: rgba(237, 228, 228, 1);


    --background-color: var(--brackish-blackish);
    --menu-background-color: var(--burnt-purple);
    --font-color: var(--bright-text);
    --link-color: var(--pinky);
}

body {
    margin: 0;
    padding: 0;
    border: 0;

    background: var(--background-color);
    color: var(--font-color);
}

.page-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vm;
}

.area-menu {
    background: var(--menu-background-color);
}

body > div > div.area-menu > a {
    color: var(--font-color);
    font-size: 1.2rem;
}

a.area-menu {
    color: black;
}

a {
    color: var(--link-color)
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.area-contents {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 2.3rem;
}

p {
    font-size: 1.1rem;
}
