<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Personal page generated for/by Alex Bates">
    <meta name="author" content="Alex Bates">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="default.css">
    <title>${TITLE}</title>
</head>
<body>
<div class="page-wrapper">
    <div class="area-menu">
${MENU}
    </div>
    <div class="area-contents">
${SOURCE}
    </div>
</div>
</body>
</html>
