@import 'assets/css/main.css';
@import 'assets/css/header.css';
@import 'assets/css/logo.css';
@import 'assets/css/pagination.css';
@import 'assets/css/post.css';
@import 'assets/css/syntax.css';
@import 'assets/css/variables.css';

:root {
  --accent: #FF6266;
  --background: color-mod(var(--accent) blend(#1D1E28 98%));
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
