.MenuTop {
    background: var(--background-dark);
    height: 5vh;
}


ul.menu-top-list {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

li.menu-top-list-item {
    list-style-type: none;
    display: block;
    flex: 0 1 auto; /* Default */
    padding: 1em;
}

a.menu-top-anchor {
    text-decoration: none;
    color: var(--text-accent-pop);
    font-size: 1.2em;
    font-weight: bold;
}
